In [ ]:
# %pip install numpy pandas matplotlib seaborn

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time

#### Write a python script to generate 100 million random numbers and add them all together with and without numpy

In [3]:
n = 100000000

# Without NumPy
start_time = time.time()
total = 0
for i in range(n):
    total += i
end_time = time.time()
print(f"Time taken without NumPy: {end_time - start_time:.2f} seconds")

# With NumPy
start_time = time.time()
total_np = np.sum(np.arange(n))
end_time = time.time()
print(f"Time taken with NumPy: {end_time - start_time:.2f} seconds")

Time taken without NumPy: 20.02 seconds
Time taken with NumPy: 0.28 seconds

#### Q2 Write a python script to generate a 10000x10000 matrix with random values and transpose it.

In [6]:
rows, cols = 10000, 10000
data = np.random.rand(rows, cols)
data

array([[0.34349798, 0.34745862, 0.10341455, ..., 0.50750783, 0.42345578,
        0.62538911],
       [0.66369713, 0.1066277 , 0.10728945, ..., 0.22468105, 0.65436849,
        0.3518974 ],
       [0.89835867, 0.59485413, 0.69901387, ..., 0.27216782, 0.02204701,
        0.86285672],
       ...,
       [0.65123508, 0.12922529, 0.56465359, ..., 0.79142751, 0.44024306,
        0.38547821],
       [0.7004465 , 0.97715478, 0.23088755, ..., 0.86292418, 0.1449472 ,
        0.66177644],
       [0.2394486 , 0.22271519, 0.38891571, ..., 0.90944896, 0.49193715,
        0.8284068 ]], shape=(10000, 10000))

In [8]:
# transpose
t_data = data.T
t_data

array([[0.34349798, 0.66369713, 0.89835867, ..., 0.65123508, 0.7004465 ,
        0.2394486 ],
       [0.34745862, 0.1066277 , 0.59485413, ..., 0.12922529, 0.97715478,
        0.22271519],
       [0.10341455, 0.10728945, 0.69901387, ..., 0.56465359, 0.23088755,
        0.38891571],
       ...,
       [0.50750783, 0.22468105, 0.27216782, ..., 0.79142751, 0.86292418,
        0.90944896],
       [0.42345578, 0.65436849, 0.02204701, ..., 0.44024306, 0.1449472 ,
        0.49193715],
       [0.62538911, 0.3518974 , 0.86285672, ..., 0.38547821, 0.66177644,
        0.8284068 ]], shape=(10000, 10000))

In [9]:
online_retail_data = pd.read_csv("online_retail.csv")
online_retail_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01-12-2009 07:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,01-12-2009 07:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,01-12-2009 07:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01-12-2009 07:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01-12-2009 07:45,1.25,13085.0,United Kingdom

In [10]:
online_retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437885 entries, 0 to 437884
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      437885 non-null  object
 1   StockCode    437885 non-null  object
 2   Description  435162 non-null  object
 3   Quantity     437885 non-null  int64
 4   InvoiceDate  437885 non-null  object
 5   Price        437885 non-null  float64
 6   Customer ID  327110 non-null  float64
 7   Country      437885 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 26.7+ MB

In [11]:
online_retail_data.describe()

            Quantity          Price    Customer ID
count  437885.000000  437885.000000  327110.000000
mean       10.063069       4.955867   15309.727813
std       184.048278     128.396016    1697.582041
min    -74215.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13901.000000
50%         3.000000       2.100000   15215.000000
75%        10.000000       4.250000   16801.000000
max     74215.000000   25111.090000   18287.000000

In [12]:
online_retail_data.isnull().sum()

Invoice             0
StockCode           0
Description      2723
Quantity            0
InvoiceDate         0
Price               0
Customer ID    110775
Country             0
dtype: int64

In [13]:
online_retail_data.isna().sum()

Invoice             0
StockCode           0
Description      2723
Quantity            0
InvoiceDate         0
Price               0
Customer ID    110775
Country             0
dtype: int64